<footer>
<div class="footer_mobile-fixed">
  <div class="footer_mobile-fixed_item _f-home _active">
    <a href="/">
      <span class="footer_f-icon"></span>
      <span class="footer_f-title">MaxFishing</span>
    </a>
  </div>
  <div class="footer_mobile-fixed_item _f-catalog">
    <a href="/catalog/">
      <span class="footer_f-icon"></span>
      <span class="footer_f-title">Каталог</span>
    </a>
  </div>
  <div class="_general-basket-counter footer_mobile-fixed_item _f-cart">
    <a href="/personal/cart/">
      <span class="footer_f-count not-zero"><span>1</span></span>
      <span class="footer_f-icon"></span>
      <span class="footer_f-title">Корзина</span>
    </a>
  </div>
  <div class="footer_mobile-fixed_item _f-favorite">
    <a href="/favorite/">
      <span class="footer_f-count"><span></span></span>
      <span class="footer_f-icon"></span>
      <span class="footer_f-title">Избранное</span>
    </a>
  </div>
  <div class="footer_mobile-fixed_item _f-menu">
    <a href="#">
      <span class="footer_f-icon"></span>
      <span class="footer_f-title">Меню</span>
    </a>
  </div>
</div>
</footer>