<div class="hello_mobile">
  <div class="_section">
    <div class="hello_mobile_tx">
    <div class="hello_mobile_decs">
    <img src="https://cdn.maxfishing.ru/images/MaxFishing_App_logo.png" class="hello_mobile_logo" alt="В приложении удобнее и быстрее">
    <div class="catalog-authorize-block-text">В приложении удобнее и быстрее</div>
    </div>
    <a href="/pages/mobile/" class="hello_mobile_btn desctop">Подробнее</a>
    <a href="https://to.imshop.io/install/maxfishing/" class="hello_mobile_btn mobile">Скачать</a>
    </div>
    <img class="hello_mobile-close" src="https://cdn.maxfishing.ru/images/icons/close-gray-60.svg" alt="закрыть">
    </div>
</div>