<div class="header-menu_catalog _open">
  <div class="header-menu_mobile-close" data-catnav-close>
    <span>Закрыть</span>
    <span class="header-menu_mobile-close-icon"></span>
  </div>
  <div class="header-menu_mobile-title">Каталог</div>
  <ul>
                    <li class="header-menu-brands-element">
                <a class="_flex-center_space-between" href="/brands/">
                    <span>Бренды</span>
                </a>
                <div class="_child">
                    <div class="_title _flex-center_space-between"><a class="_child-title" href="/brands/"><span class="_child-title-icon"></span><span>Бренды</span></a><a class="_child-show-all" href="/brands/">Показать все</a></div>
                    <div class="left-menu-all-brands-block"><a class="show-all-brands" href="/brands/">Все бренды</a></div>
                    <ul>
                                                        <li>
                                <a class="_flex-center" href="/brands/abu-garcia/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/7f5/60_60_140cd750bba9870f18aada2478b24840a/g4hu872f302py7uy635za8jgx4hz0ku5.jpg); background-position: center center;"></i>
                                    <span>Abu Garcia</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/duel/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/653/60_60_140cd750bba9870f18aada2478b24840a/3vfsq17p8z3zyosdryn38dqjq7o0bfhf.jpg); background-position: center center;"></i>
                                    <span>Duel</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/daiwa/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/1ab/60_60_140cd750bba9870f18aada2478b24840a/78b5y6zjk4sdlnmunyehh0c9egh35b42.jpg); background-position: center center;"></i>
                                    <span>Daiwa</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/penn/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/14f/60_60_140cd750bba9870f18aada2478b24840a/7fut78yjrrwkaszl0o11p3wj08py2m4t.jpg); background-position: center center;"></i>
                                    <span>Penn</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/bkk/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/d7d/60_60_140cd750bba9870f18aada2478b24840a/ei66vy9xyfvaaiux01fundewd40oj58n.png); background-position: center center;"></i>
                                    <span>BKK</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/aiko/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/dd2/60_60_140cd750bba9870f18aada2478b24840a/guiezf4bw1ee7t0blk4saakmuf3c12b2.png); background-position: center center;"></i>
                                    <span>Aiko</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/crazee/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/1e9/60_60_140cd750bba9870f18aada2478b24840a/c5v05kk6qlt1fd1c3yllpw9csxc2d4du.png); background-position: center center;"></i>
                                    <span>Crazee</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/jackall/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/210/60_60_140cd750bba9870f18aada2478b24840a/cqa9ftewwm98fnudu3qv971kkhikcd32.png); background-position: center center;"></i>
                                    <span>Jackall</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/gator/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/367/60_60_140cd750bba9870f18aada2478b24840a/gga9jj1t97v8blqz4kv12pwwyebq58pk.png); background-position: center center;"></i>
                                    <span>Gator</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/keitech/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/c89/60_60_140cd750bba9870f18aada2478b24840a/1knh85ce0szcfx5g3xsu1rvcn0s1cny4.jpg); background-position: center center;"></i>
                                    <span>Keitech</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/yo-zuri/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/04f/60_60_140cd750bba9870f18aada2478b24840a/0m1fcu2balghsxwdpk9y0dxum67dsep2.png); background-position: center center;"></i>
                                    <span>Yo-Zuri</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/maximus/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/cae/60_60_140cd750bba9870f18aada2478b24840a/vy4t5aaqut98bhrz03t88xzxn5xtgzqx.jpg); background-position: center center;"></i>
                                    <span>Maximus</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/major-craft/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/4b4/60_60_140cd750bba9870f18aada2478b24840a/ex6ab28lu8k1o7gi3epsts4henxrljbl.jpg); background-position: center center;"></i>
                                    <span>Major Craft</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/megabass/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/bd0/60_60_140cd750bba9870f18aada2478b24840a/7mxc85bnf8b4my707xh9b08wcnamhygi.jpg); background-position: center center;"></i>
                                    <span>Megabass</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/meiho/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/a08/60_60_140cd750bba9870f18aada2478b24840a/uwx49ctm2alekiqrq3mv1q5dh3z2c7qs.jpg); background-position: center center;"></i>
                                    <span>Meiho</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/pontoon-21/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/df9/60_60_140cd750bba9870f18aada2478b24840a/wz43c5bb69ntlaw0oaclipy8fkd20nih.jpg); background-position: center center;"></i>
                                    <span>Pontoon 21</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/shimano/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/f1c/60_60_140cd750bba9870f18aada2478b24840a/6x224s0762t0op8akt34l8zwrghy6ilj.jpg); background-position: center center;"></i>
                                    <span>Shimano</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/simms/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/f69/60_60_140cd750bba9870f18aada2478b24840a/6q3h8puikbswomnv5gdvd90b3oc3cuhm.jpg); background-position: center center;"></i>
                                    <span>Simms</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/zetrix/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/905/60_60_140cd750bba9870f18aada2478b24840a/e6yly8ye3b8f7rr5c8k50nhepl8k210b.jpg); background-position: center center;"></i>
                                    <span>Zetrix</span>
                                </a>
                            </li>
                                                        <li>
                                <a class="_flex-center" href="/brands/leech/">
                                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/resize_cache/uf/749/60_60_140cd750bba9870f18aada2478b24840a/jklvl3j3o2yykuo6hbvq7j0e7pbfys2n.jpg); background-position: center center;"></i>
                                    <span>Leech</span>
                                </a>
                            </li>
                                                </ul>
                </div>
            </li>
    <li>
        <a class="_flex-center_space-between" href="/catalog/zimnyaya-rybalka/">
                        <span>Зимняя рыбалка</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/zimnyaya-rybalka/"><span class="_child-title-icon"></span><span>Зимняя рыбалка</span></a><a class="_child-show-all" href="/catalog/zimnyaya-rybalka/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/udilishcha-zimnie/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/9cf/985o1uepxomy1s9jh4f8t4v7co0uo3sp.svg)"></i>
                    <span>Зимние удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/katushki-zimnie/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/6f6/9e1sznkgg9cnnwxnd31r23ahr4p0o4yf.svg)"></i>
                    <span>Зимние катушки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/viby/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/b7a/83dec5a77d34yup9lz1gg059x05pp4q8.svg)"></i>
                    <span>Вибы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/ledobury/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/bb8/xn4dpz5wtsq9rx5e2irk2vkyztrhvr4h.svg)"></i>
                    <span>Ледобуры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/aksessuary-dlya-ledoburov/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/bbb/tzcgxs9numgoq42y3s7o40j1n8ruaegf.svg)"></i>
                    <span>Аксессуары для ледобуров</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/zherlitsy/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/434/if9agjr18b9tmdhvmr8ab42ebb2d1c0s.svg)"></i>
                    <span>Жерлицы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/zimnie-blesny/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/0d9/2gip830nk15s0xu1nvvqsfjdxd86y30a.svg)"></i>
                    <span>Зимние блесны</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/bokoplavy/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/7f4/0bzz58ddsd9zd4jlmlbegpa8zbrm5irf.svg)"></i>
                    <span>Бокоплавы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/sani-volokushi/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/48e/5by3hetvngvnwfxjc6190pqws9vifpbn.svg)"></i>
                    <span>Сани-волокуши</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/storozhki-i-kivki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/f04/uix28u227x4v0pybpeelgl47rf9s12ww.svg)"></i>
                    <span>Сторожки и кивки</span>
                  </a>
                </li></ul>
          </div></li><li>
        <a class="_flex-center_space-between" href="/catalog/odezhda/">
                        <span>Одежда и обувь</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/odezhda/"><span class="_child-title-icon"></span><span>Одежда и обувь</span></a><a class="_child-show-all" href="/catalog/odezhda/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/odezhda/rybolovnye-kostyumy/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/b92/bpgjs03l9gg6rqumpu77if0cmy721goh.svg)"></i>
                    <span>Рыболовные костюмы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/kurtki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/fd6/x8i8hfhwnfu9iunbfqtmnrm0z5j285bm.svg)"></i>
                    <span>Куртки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/bryuki-i-kombinezony/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/29d/n2e9z01kcxdekdn9qattq2ub92ldmnsz.svg)"></i>
                    <span>Брюки и комбинезоны</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/flisovaya-odezhda/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/92e/ac0ye4c9cdz34wgb1ve481l5efvvej2a.svg)"></i>
                    <span>Флисовая одежда</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/termobele/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/090/o7vz22o169n6hgb3i71yikp1metec9zs.svg)"></i>
                    <span>Термобелье</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/tolstovki-i-longslivy/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/643/6ec2c59f87snz4c4oppk36zv18281rgm.svg)"></i>
                    <span>Толстовки и лонгсливы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/obuv/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/07c/y8j7k9e0hyp18by6ni9macsg60levm85.svg)"></i>
                    <span>Обувь</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/noski/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/ddf/a3rwm9ygfwo6btnr9gcjc2zd01ee7mdp.svg)"></i>
                    <span>Носки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/perchatki-i-varezhki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/83d/utddhn4o789w3uv38t4pgrwj0fs4t3js.svg)"></i>
                    <span>Перчатки и варежки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/beysbolki-i-shapki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/ebb/w0swdx961jugp9mi4yi87nklhjt4z725.svg)"></i>
                    <span>Бейсболки и шапки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/futbolki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/87b/5vshpqgmyifrff618gdnaq2fc03wscds.svg)"></i>
                    <span>Футболки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/ochki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/eed/yc940qo4i95n3nx97epjnwqk5mg5ho21.svg)"></i>
                    <span>Очки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/shorty/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/bf7/b6un0jtxv198uu847jn5k09xbfe4fhj1.svg)"></i>
                    <span>Шорты</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/rubashki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/c7e/sfg3mfxkllf7o8306bugpi46cbnpkeyp.svg)"></i>
                    <span>Рубашки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/bafy-maski-balaklavy/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/6c8/47wo1aocsutmwszmfikwziiq4a1rfck6.svg)"></i>
                    <span>Бафы, маски, балаклавы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/zabrodnoe-snaryazhenie/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/2ef/3q6c78o7hgx3yrhxzds99mzaf5hxqq8t.svg)"></i>
                    <span>Забродное снаряжение</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/spasatelnye-zhilety/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/e3a/c19m7ytpnzad0vg0tia7tj877e01njs5.svg)"></i>
                    <span>Спасательные жилеты</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/razgruzochnye-zhilety/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/856/fileq01mu6kx5np8cueferlbrhpsxsdb.svg)"></i>
                    <span>Разгрузочные жилеты</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/podkladki-neoprenovye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/225/lx8oazuygsr2fgtdpuvekgy989lc5psm.svg)"></i>
                    <span>Неопреновые подкладки</span>
                  </a>
                </li></ul>
          </div></li><li>
        <a class="_flex-center_space-between" href="/catalog/udilishcha/">
                        <span>Удилища</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/udilishcha/"><span class="_child-title-icon"></span><span>Удилища</span></a><a class="_child-show-all" href="/catalog/udilishcha/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/udilishcha/udilishcha-spinningovye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/073/apc7l9npt6fik2h1xyzs06d7987byc2w.svg)"></i>
                    <span>Спиннинговые удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/udilishcha/udilishcha-kastingovye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/597/ernw3sp8ga39wqnrpsatbr97ctpm0q7a.svg)"></i>
                    <span>Кастинговые удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/udilishcha/aksessuary-dlya-udilishch/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/928/822knvlj5yl7zljrbasrn43ear7xk9cq.svg)"></i>
                    <span>Аксессуары для удилищ</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/udilishcha/udilishcha-morskie/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/ea8/18rnr28t5h107m9d8na1p8mzvd6k9eqn.svg)"></i>
                    <span>Морские удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/udilishcha/udilishcha-trollingovye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/247/sc1clh3b66vjydn9ujgpibyd0t3yjtnx.svg)"></i>
                    <span>Троллинговые удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/udilishcha/udilishcha-fidernye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/47d/dsks0zjhd5a4zf0tlmax7fw2e10hcepl.svg)"></i>
                    <span>Фидерные удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/udilishcha/udilishcha-poplavochnye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/0ec/km6gqmucl6tkarmhryq27syqxdfnmkle.svg)"></i>
                    <span>Поплавочные удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/udilishcha/udilishcha-karpovye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/7af/zoko4wgb6ye79jpiottu9u3241g1zrnx.svg)"></i>
                    <span>Карповые удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/udilishcha/udilishcha-zimnie/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/dfa/y8ca0bj47laxjx4x76jket8bavoqdwwq.svg)"></i>
                    <span>Зимние удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/udilishcha/kalmarovye-udilishcha/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/734/onhdyf9tl6qetssdt2nmugaewgf1wahy.svg)"></i>
                    <span>Кальмаровые удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/udilishcha/rod-pody-i-derzhateli-dlya-udilishch/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/09c/uw27dbybpq7vr357is00hqcy0te7b0tu.svg)"></i>
                    <span>Род-поды и держатели для удилищ</span>
                  </a>
                </li></ul>
          </div></li><li>
        <a class="_flex-center_space-between" href="/catalog/rybolovnye-katushki/">
                        <span>Рыболовные катушки</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/rybolovnye-katushki/"><span class="_child-title-icon"></span><span>Рыболовные катушки</span></a><a class="_child-show-all" href="/catalog/rybolovnye-katushki/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/rybolovnye-katushki/katushki-bezynertsionnye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/558/vyigr3uy2fww0p3h9hmz0mb86ne6blcy.svg)"></i>
                    <span>Безынерционные катушки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/rybolovnye-katushki/katushki-multiplikatornye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/665/ruabwhd0ih0j9p5y60dq2we1sr660fnr.svg)"></i>
                    <span>Мультипликаторные катушки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/rybolovnye-katushki/katushki-inertsionnye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/2a8/c2cl42887gsgtwvkafkq1ow6yeuhukjn.svg)"></i>
                    <span>Инерционные катушки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/rybolovnye-katushki/katushki-fidernye-i-matchevye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/ff5/uejl1azfqbuvc7b42wrsw417z0rb5n78.svg)"></i>
                    <span>Фидерные и матчевые катушки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/rybolovnye-katushki/katushki-morskie/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/365/t1duisx91q62e3bvq4zucf26ikf1h0fi.svg)"></i>
                    <span>Электрокатушки для морской рыбалки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/rybolovnye-katushki/katushki-zimnie/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/8ea/7x3218nvzory3nltk6q22pcyhmw6jum9.svg)"></i>
                    <span>Зимние катушки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/rybolovnye-katushki/aksessuary-dlya-katushek/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/471/cwfu0ih7uiyhl3ozzjizffsd559l5cdu.svg)"></i>
                    <span>Аксессуары для катушек</span>
                  </a>
                </li></ul>
          </div></li><li>
        <a class="_flex-center_space-between" href="/catalog/primanki/">
                        <span>Приманки</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/primanki/"><span class="_child-title-icon"></span><span>Приманки</span></a><a class="_child-show-all" href="/catalog/primanki/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/primanki/voblery/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/a0f/ir9bir9364ehd1411ko3lg4lwueac1cs.svg)"></i>
                    <span>Воблеры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/primanki-silikonovye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/6eb/zon3wwlj54usgxr8qehenjczlfuyk7zz.svg)"></i>
                    <span>Силиконовые приманки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/porolonovye-rybki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/bf6/47wgjcb7fit6mmyp0qcfclai622y2phv.svg)"></i>
                    <span>Поролоновые рыбки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/topvotery/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/de3/416k5fe7ast0jyewiv7f3tt8ce772s58.svg)"></i>
                    <span>Топвотеры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/koleblyushchiesya-blesny/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/80a/n7a9debcym8zub46b7adri3azh61ui9g.svg)"></i>
                    <span>Колеблющиеся блесны</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/vrashchayushchiesya-blesny/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/1bb/ikkb3cuft3wufi47ivo3sjeqrqj18iy4.svg)"></i>
                    <span>Вращающиеся блесны</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/spinnerbeyty-i-teylspinnery/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/cae/lsje55ulduzzkoh65jqy5k2m36hn8rjx.svg)"></i>
                    <span>Спиннербейты и тейл-спиннеры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/manduly/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/eb5/roki2u8r530sibrr2i1413zvzdu4r7ru.svg)"></i>
                    <span>Мандулы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/forelevaya-pasta/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/f29/7ssijsf3j8ddiy1hhkd1c04gwvyu4onr.svg)"></i>
                    <span>Форелевая паста</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/cvimbeyty-i-bakteyly/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/f64/i8jegiygngzxeeuqmg4pl3420emwwx8a.svg)"></i>
                    <span>Cвимбейты и бактейлы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/pilkery/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/961/b3dcslf93rxkfabhnhma9d9f1oftg2s7.svg)"></i>
                    <span>Пилькеры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/dzherkbeyty/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/1fe/j01htzl994rfnujwqasg58f4sh7hknxh.svg)"></i>
                    <span>Джеркбейты</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/balansiry/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/5c9/g3552xkf0snh62kkthdke31spy7bvu2u.svg)"></i>
                    <span>Балансиры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/dzhig-strimery/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/5dd/mwnlp5uzifpm13mojy8tir1jnurdjuoz.svg)"></i>
                    <span>Джиг-стримеры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/morskie-dzhigi/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/88b/5s2l8ck7ws5j9rkbazoi3wpf87sr53ur.svg)"></i>
                    <span>Морские пилькеры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/viby/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/7c4/gi756wast0ef2mwvjozsluu688sdq7gl.svg)"></i>
                    <span>Вибы и раттлины</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/zimnie-blesny/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/85b/qg0ynqc3pneeviavmumgv7kennfdh4r8.svg)"></i>
                    <span>Зимние блесны</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/bokoplavy/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/3c8/lw1h7htneg85gcvrlfsf24f2nh7u2jvo.svg)"></i>
                    <span>Бокоплавы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/blesny-dlya-rybalki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/f0b/x0qe87h9k9c3h1kem0ws9n8urlyw095x.svg)"></i>
                    <span>Блесны для рыбалки</span>
                  </a>
                </li></ul>
          </div></li><li>
        <a class="_flex-center_space-between" href="/catalog/leski-i-shnury/">
                        <span>Лески и шнуры</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/leski-i-shnury/"><span class="_child-title-icon"></span><span>Лески и шнуры</span></a><a class="_child-show-all" href="/catalog/leski-i-shnury/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/leski-i-shnury/pletenye-shnury/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/175/mvjzff88p0k5ciwmbirp4yrr0m89gt9a.svg)"></i>
                    <span>Плетеные шнуры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/leski-i-shnury/monofilnye-leski/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/0a2/tsvfmnalkd93lccbyznq1kjizz9dx8ra.svg)"></i>
                    <span>Монофильные лески</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/leski-i-shnury/flyuorokarbon/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/a97/4py15rrophl1xomagfjhz6n9gi2rsh69.svg)"></i>
                    <span>Флюорокарбон</span>
                  </a>
                </li></ul>
          </div></li><li>
        <a class="_flex-center_space-between" href="/catalog/furnitura-i-osnastka/">
                        <span>Фурнитура и оснастка</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/furnitura-i-osnastka/"><span class="_child-title-icon"></span><span>Фурнитура и оснастка</span></a><a class="_child-show-all" href="/catalog/furnitura-i-osnastka/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/furnitura-i-osnastka/kryuchki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/56b/rf8okwko8jptf4ms8ls1ipvnk6epk6ga.svg)"></i>
                    <span>Крючки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/furnitura-i-osnastka/dzhig-golovki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/542/160uvjnn66cp738qttm5gn2x099pae10.svg)"></i>
                    <span>Джиг-головки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/furnitura-i-osnastka/gruzy/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/c2e/a80kpkte6ndgodvoybjf4y0yrm2wugfk.svg)"></i>
                    <span>Грузы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/furnitura-i-osnastka/zavodnye-koltsa/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/8d4/v4r0z64s2tnijtsk2a34r48bq3c36lyx.svg)"></i>
                    <span>Заводные кольца</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/furnitura-i-osnastka/povodki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/aa9/05mcet1m5rbgs2makhf9j8zhlv2hjac8.svg)"></i>
                    <span>Поводки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/furnitura-i-osnastka/karabiny/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/19a/89kl6m5lxjqsx74lp15xehj5n366h1z6.svg)"></i>
                    <span>Карабины</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/furnitura-i-osnastka/vertlyuzhki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/7ec/gug8u0t0aber0b83m6moj3r2s05m6gv4.svg)"></i>
                    <span>Вертлюжки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/furnitura-i-osnastka/fidernye-i-karpovye-osnastki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/e9a/ack1xr220eilj6s3yba2w3fuoag2n65r.svg)"></i>
                    <span>Фидерные и карповые оснастки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/furnitura-i-osnastka/osnashchenie-primanok/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/9e0/0mumlmxaguo1gsh128d7p9mrjjzc8o97.svg)"></i>
                    <span>Оснащение приманок</span>
                  </a>
                </li></ul>
          </div></li><li>
        <a class="_flex-center_space-between" href="/catalog/khranenie-i-transportirovka/">
                        <span>Хранение и транспортировка</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/khranenie-i-transportirovka/"><span class="_child-title-icon"></span><span>Хранение и транспортировка</span></a><a class="_child-show-all" href="/catalog/khranenie-i-transportirovka/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/ryukzaki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/f41/l9jtjlx03h789c6jczcfs3dra0tcjr4h.svg)"></i>
                    <span>Рюкзаки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/poyasnye-sumki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/0b2/1evwf52pjk6erx6355f71ngarnl9ltdb.svg)"></i>
                    <span>Поясные сумки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/rybolovnye-sumki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/0f5/fqlgq64ban4e9wp9cytxqugjgyzrvf14.svg)"></i>
                    <span>Рыболовные сумки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/koshelki-i-penaly/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/62d/uwajf50cpf81yyuzfvhdew8hectko88i.svg)"></i>
                    <span>Кошельки и пеналы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/keysy-i-chekhly-dlya-katushek/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/092/qdn4rn7hx1kc84b399zl3fowkfoi0fqy.svg)"></i>
                    <span>Кейсы, чехлы и сумки для катушек</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/korobki-dlya-primanok/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/283/17ul4jp3aq36203datmialn134c4bvg4.svg)"></i>
                    <span>Коробки для приманок</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/chekhly-i-tubusy-dlya-udilishch/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/0fb/m9u4dnzlqs7q4r9wx1d56b6op8crsocv.svg)"></i>
                    <span>Чехлы для удилищ и тубусы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/germosnaryazhenie/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/6fc/868i9izxt3zazav8pz52hlr5y0h8wpoh.svg)"></i>
                    <span>Гермоснаряжение</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/termokonteynery/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/ab2/ngadyxihonbljzeuza9mywp00mx9bbha.svg)"></i>
                    <span>Термоконтейнеры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/kany-i-vedra-dlya-zhivtsa/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/1ea/qfgqmbjwk1ie29u9x8q80cpt0i97f1hx.svg)"></i>
                    <span>Каны и ведра для живца</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/rybolovnye-yashchiki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/228/l8vlibiuwy6ema4v2ih83hq67js22nhz.svg)"></i>
                    <span>Рыболовные ящики</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/povodochnitsy-i-motovila/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/b11/3qbxoyze0s22zloqk8kmrwdpv1i1c70h.svg)"></i>
                    <span>Поводочницы и мотовила</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/keysy-universalnye/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/811/cea9sbqx73art41c5otfiukr6z761r67.svg)"></i>
                    <span>Кейсы универсальные</span>
                  </a>
                </li></ul>
          </div></li><li>
        <a class="_flex-center_space-between" href="/catalog/instrumenty-i-aksessuary/">
                        <span>Инструменты и аксессуары</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/instrumenty-i-aksessuary/"><span class="_child-title-icon"></span><span>Инструменты и аксессуары</span></a><a class="_child-show-all" href="/catalog/instrumenty-i-aksessuary/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/podsaki-sadki-i-kukany/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/9a2/c3n19nto6jcog2adwqj3eis0kpg8of3u.svg)"></i>
                    <span>Подсаки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/multituly/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/cb6/w3v7m675mokg7sq7pycbsjdotn9dhkpl.svg)"></i>
                    <span>Мультитулы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/nozhi/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/c60/3jjgm0a7txjukh9pqsv25mem8eu50re2.svg)"></i>
                    <span>Ножи</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/izmerenie-ryby/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/9dd/b0lb9snp0z4od35ubhd56x8l96bfp39b.svg)"></i>
                    <span>Измерение рыбы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/instrumenty/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/89e/4s88dvgvvczyq1gs6111j16w4flt05js.svg)"></i>
                    <span>Инструменты</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/sadki-i-kukany/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/6cf/105mv4728g3uomb5cmsashyly0z7zq7u.svg)"></i>
                    <span>Садки и куканы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/fonari/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/16b/sou3elqjfpxsc7jk0fcjz5qqxzhhf4iu.svg)"></i>
                    <span>Фонари</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/ochki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/4c8/xm7f8lent3om0hs0iuh1csg7os80b737.svg)"></i>
                    <span>Очки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/aksessuary/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/e4e/m2l6m8zb2er5ojacxavid9bfr952syey.svg)"></i>
                    <span>Аксессуары</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/perchatki-dlya-zakhvata-ryby/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/9f2/34ne2lq293vd8s578x4oz7z3s56sriip.svg)"></i>
                    <span>Перчатки для захвата рыбы</span>
                  </a>
                </li></ul>
          </div></li><li>
        <a class="_flex-center_space-between" href="/catalog/kemping/">
                        <span>Кемпинг</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/kemping/"><span class="_child-title-icon"></span><span>Кемпинг</span></a><a class="_child-show-all" href="/catalog/kemping/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/kemping/spalnye-meshki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/f64/spcxoq27opd8tqya4k5jvihgxlr563h0.svg)"></i>
                    <span>Спальные мешки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/posuda/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/f87/ur2y26ll2br5kcb1p92q6kep0hsru9fb.svg)"></i>
                    <span>Посуда</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/termosy-i-termokruzhki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/fe1/4khyeeegb4bat3hwgtxg0y0umw2dm00j.svg)"></i>
                    <span>Термосы и термокружки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/sredstva-ot-nasekomykh/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/6cb/6l0sl2pm2uvp2sfqxjbyyn3u0770x9x1.svg)"></i>
                    <span>Средства от насекомых</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/palatki-shatry-i-tenty/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/12b/sbtjm3t4fcnauyjc0liv94npx4rtg9xc.svg)"></i>
                    <span>Палатки, шатры и тенты</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/kovriki/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/08a/yrlpx3bvv0to6p82rxnclouzr8kvxsy2.svg)"></i>
                    <span>Коврики</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/turisticheskaya-mebel/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/f84/sk1jfnf0kio01i4rwcg9h3i6whxu3btv.svg)"></i>
                    <span>Туристическая мебель</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/kostrovoe-oborudovanie/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/16f/8df5opqa14q13iha2v0802s74huhjn3h.svg)"></i>
                    <span>Костровое оборудование</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/gazovoe-oborudovanie/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/f4a/yhsx9tely8cg4vei5s39p2z3wj675wx0.svg)"></i>
                    <span>Газовое оборудование</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/aksessuary-dlya-palatok/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/699/junnh73y97i50d32i5iuiuq4ab8fy1cx.svg)"></i>
                    <span>Аксессуары для палаток</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/pokhodnye-prinadlezhnosti/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/d14/04nigpqobif2ef3szl7a7ahg7diri3x9.svg)"></i>
                    <span>Походные принадлежности</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/multituly/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/8fe/ko10v3yyu6i38hbh8bsdxko9nreex67m.svg)"></i>
                    <span>Мультитулы</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/nozhi/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/4aa/c6ri4vf47epf48y4g8omj5rqcz63dg66.svg)"></i>
                    <span>Ножи</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/fonari/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/f8d/5ymb00g5qsatizawvphqi75wnf1u98df.svg)"></i>
                    <span>Фонари</span>
                  </a>
                </li></ul>
          </div></li><li>
        <a class="_flex-center_space-between _no-children" href="/catalog/elektronika/">
                        <span>Электроника</span>
        </a></li><li>
        <a class="_flex-center_space-between" href="/catalog/rasprodazha/">
                        <span>Распродажа</span>
        </a><div class="_child">
            <div class="_title _flex-center_space-between"><a class="_child-title" href="/catalog/rasprodazha/"><span class="_child-title-icon"></span><span>Распродажа</span></a><a class="_child-show-all" href="/catalog/rasprodazha/">Показать все</a></div>
            <ul><li>
                  <a class="_flex-center" href="/catalog/udilishcha/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/fd0/gtqx60p1jjivgezcsxb7yxlp3eqs257m.svg)"></i>
                    <span>Удилища</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/rybolovnye-katushki/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/da5/c3d6xtn7b2kwhqtssxdzfjhwp3u49np1.svg)"></i>
                    <span>Рыболовные катушки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/leski-i-shnury/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/8c4/i293fjwxd2ikv1vyz70ey4s2q4ny6kp2.svg)"></i>
                    <span>Лески и шнуры</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/furnitura-i-osnastka/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/e51/2zzf58l7xfh1vbftv1b6g7fbgwkwn37g.svg)"></i>
                    <span>Фурнитура и оснастка</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/instrumenty-i-aksessuary/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/e67/qel2px5w0pj8czvrnuscenk265vqa12u.svg)"></i>
                    <span>Инструменты и аксессуары</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/odezhda/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/1a7/7zi0aec9f37uwqeqtm5e3o7zz7cu0jsq.svg)"></i>
                    <span>Одежда и обувь</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/kemping/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/2df/8vzpgs3432z1mbm421vkcz8xipk73xw2.svg)"></i>
                    <span>Кемпинг</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/primanki/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/c3f/vhstvu9wtbp0286jpl01zc3vfo97wgxs.svg)"></i>
                    <span>Приманки</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/zimnyaya-rybalka/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/e37/xd2y3z6vpghbqb0pdr82etlo677h3489.svg)"></i>
                    <span>Зимняя рыбалка</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/khranenie-i-transportirovka/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/40d/1x1skidswxf80dwqlkbawpob1tr1hu1z.svg)"></i>
                    <span>Хранение и транспортировка</span>
                  </a>
                </li><li>
                  <a class="_flex-center" href="/catalog/elektronika/filter/is_sale-is-y/apply/">
                    <i style="background-image:url(https://cdn.maxfishing.ru/upload/uf/d0b/olcz8ysd6npcm62fac1ldx0kyuihr5am.svg)"></i>
                    <span>Электроника</span>
                  </a>
                </li></ul>
          </div></li>			</ul>
</div>